<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title">Payments</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive" style="height:80vh;overflow-x:hidden;">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Date
                </th>
                <th>
                  Email
                </th>
                <th>
                  UserID
                </th>
                <th>
                  Payment Method
                </th>
                <th class="text-center">
                  Amount
                </th>
                <th>
                  Points Used
                </th>
              </tr>
            </thead>
            <tbody>
              <% @transactions.each do |user, user_data| %>
                <% user_data[:transactions].each do |transaction| %>
                  <tr class="hoverable">
                    <td>
                      <%= transaction.data[:created_at].strftime("%A, %B %e, %k:%M:%S %p %Z") %>
                    </td>
                    <td>
                      <%= user_data[:email] %>
                    </td>
                    <th>
                      <%= user %>
                    </th>
                    <td>
                      <%= transaction.data[:payment_method] %>
                    </td>
                    <td class="text-center">
                      <%= transaction.data[:amount] %>
                    </td>
                    <td>
                      <%= transaction.data[:points_used] %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
