<!DOCTYPE html>
<html>
<head>
  <title>TransportAIWeb</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= yield(:header) %>
  <%= stylesheet_link_tag    'dashboard/dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'dashboard/black-dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'dashboard/nucleo-icons', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'dashboard/ciaracss', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'dashboard/black-dashboard', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'dashboard/plugins/bootstrap-notify', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
  <div class="wrapper">
    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-mini">
          </a>
          <a href="javascript:void(0)" class="simple-text logo-normal">
            Ardra
          </a>
        </div>
        <ul class="nav">
          <li class="<%= if url_for() == dashboard_path then "active" end %>">
            <%= link_to dashboard_url do %>
            <i class="fas fa-home"></i>
            <p>Dashboard</p>
            <% end %>
          </li>
          <li class="<%= if url_for() == dashboard_orders_path then "active" end %>">
            <%= link_to dashboard_orders_path do %>
            <i class="fas fa-taxi"></i>
            <p>Manage Orders</p>
            <% end %>
          </li>
          <li class="<%= if url_for() == dashboard_customers_path then "active" end %>">
            <%= link_to dashboard_customers_path do %>
            <i class="fas fa-users"></i>
            <p>Manage Customers</p>
            <% end %>
          </li>
          <li class="<%= if url_for() == dashboard_cars_path then "active" end %>">
            <%= link_to dashboard_cars_path do %>
            <i class="fas fa-car"></i>
            <p>Manage Cars</p>
            <% end %>
          </li>
          <li class="<%= if url_for() == dashboard_payments_path then "active" end %>">
            <%= link_to dashboard_payments_path do %>
            <i class="far fa-credit-card"></i>
            <p>Manage Payments</p>
            <% end %>
          </li>
          <li class="<%= if url_for() == dashboard_reviews_path then "active" end %>">
            <%= link_to dashboard_reviews_path do %>
            <i class="fas fa-star-half-alt"></i>
            <p>Ratings and Reviews</p>
            <% end %>
          </li>
          <li class="<%= if url_for() == dashboard_settings_path then "active" end %>">
            <%= link_to dashboard_settings_path do %>
            <i class="fas fa-cog"></i>
            <p>Settings</p>
            <% end %>
          </li>
          <li>
            <%= link_to logout_path, method: :delete do %>
            <i class="fas fa-sign-out-alt"></i>
            <p>Logout</p>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent" style="height:75px;background-color:none;">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
      <div class="content">
        <%= yield %>
        <footer class="footer">
          <div class="container-fluid">
            <ul class="nav">
              <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link">
                  Ardra
                </a>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link">
                  About Us
                </a>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link">
                  Contact
                </a>
              </li>
            </ul>

          </div>
        </footer>
      </div>
    </div>
    <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>
</body>
</html>
